/* ===========================
     Author: Bhargav Gandhi (BG)
     Description: main.scss
     ===========================
*/
.btn {
  clear: both;
  display: block;
  font-family: $fontStack;
  font-size: 14px;
  font-size: 0.875em;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  padding: 1em;
  background: transparent;
  border: 1px solid #000;
  background: transparent;
  float: none !important;
  outline: none;
  max-width: 220px;
  max-width: 12em;
  margin: 10px 0 0;
  -webkit-font-smoothing: antialiased;
  border-radius: 0 !important;
}

.homeSlides {
  vertical-align: top;
}

#breadcrumbs {
  ul {
    list-style: none;

    li {
      display: inline-block;
      font-size: 12px;
      color: #888;
      font-weight: 600;

      &:after {
        content: " / ";
      }

      &.active {
        color: #FCE257;

        &:after {
          content: "";
        }
      }
    }
  }
}

.bx-controls,
.bx-wrapper .bx-viewport {
  font-size: 16px;
}

.bx-wrapper .bx-caption span,
.bx-wrapper .bx-pager {
  display: block;
  padding: 10px 0;
  font-family: $fontStack;
  font-size: 15px;
  font-size: 0.94em;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: 0.3px;
  color: #333333;
}

h1 {
  margin: 1em auto 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
  font-size: 2.25em;

  sub {
    text-transform: lowercase;
  }

}

h4 {
  margin: 10px auto 2em;
  color: #f00;
  font-size: 18px;
  font-size: 1.125em;
}

h2 {
  font-family: $fontStack;
  font-size: 32px;
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 2.6px;
  text-align: left;
  color: #333333;
  line-height: 1.4;
}

p {
  font-family: $fontStack;
  font-size: 16px;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: 0.3px;
  color: #333333;
  margin: 15px auto;
}

.features {
  vertical-align: top;

  .featureItem {
    margin: 1.5em auto;

    .fa,
    .featureLists,
    img.homeIcons {
      display: inline-block;
      vertical-align: top;
    }

    .fa,
    img.homeIcons {
      width: 15%;
    }

    .featureLists {
      width: 70%;
    }

    .fa {
      font-size: 40px;
      font-size: 2.5em;
      color: #FCE257;
    }
  }
}

.featuresBanners {
  .featuresBannerItem {
    margin: 1em auto;
    overflow: hidden;

    &:hover figcaption {
      opacity: 1;
      bottom: 0;
    }

    figcaption {
      position: absolute;
      color: #fff;
      background: rgba(210, 62, 92, 0.75);
      width: 100%;
      display: block;
      padding: 2em;
      opacity: 0;
      bottom: -50%;
      transition: all 0.3s linear;

      h2 {
        color: #fff;
        text-transform: uppercase;
        font-size: 1.5em;
      }

      h2.big {
        font-size: 3em;
      }
    }

    figcaption.black {
      background: rgba(0,0,0, 0.75);
    }
  }
}

body.about {
  .aboutContainer {
    display: block;
    width: 100%;

    .featuresBanners,
    .mapContainer {
      display: inline-block;
      height: 100%;
      padding: 0;
      margin: 3em auto;
      vertical-align: top;
    }

    .featuresBannerItem,
    .mapBlock {
      margin: 0 auto;
      height: 100%;
    }

    .mapBlock {
      height: 100%;
      margin-bottom: 0;
    }

    #map {
      min-height: 200px;
      height: 100%;
      width: 100%;
      z-index: 98;
    }

    .contactBtn {
      border-color: #fff;
    }
  }
}

.bInfoBox {
  cursor: default;
  background: #fcdf5d;
  width: 115px;
  height: auto;
  padding: 10px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.1;
  // transform: translateZ(0px);
  box-shadow: 0 2px 6px #888;
  visibility: visible;
  z-index: 0;
  opacity: 0;
  pointer-events: none;

  &:after {
    display: block;
    content: '';
    bottom: -20px;
    width: 15px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
    border: 7.5px solid #fcdf5d;
    border-width: 10px 7.5px;
    border-color: #fcdf5d transparent transparent;
  }
}

footer {
  width: 100%;
  color: #fff;
  background: #333333;
  margin: 0 auto !important;

  &.row {
    width: 100%;
    padding: 40px 4.5em;
    margin: 0 auto !important;
  }

  div {
    width: 100%;
    margin: 0 auto;

    .ftLinks,
    .ftLogo {
      display: inline-block;
      text-align: left;
      margin: 0 -5px 0 0;
      vertical-align: middle;
    }

    .ftLogo {
      text-align: left;

      p {
        font-size: 12px;
        font-size: 0.75em;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        color: #fff;
        margin: 0 0 0 10px;

        a {
          display: block;
          text-transform: uppercase;
          margin: 5px 0 0;
        }
      }

      img,
      p {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .ftLinks {
      text-align: right;

      ul {
        list-style: none;

        li {
          display: inline-block;
          margin: 10px 30px;
          font-size: 12px;
          font-size: 0.75em;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;

          &:last-child {
            margin-right: 0;
          }

          img {
            height: 20px;
          }

          i {
            color: #fcdf5d;
            font-size: 1.5em;
          }
        }
      }
    }

    .copyrights {
      color: #fff;
      font-size: 10px;
      position: absolute;
      right: 0;
      left: 0;
      margin: 0 auto;
      text-align: center;
    }
  }
}
