/* ===========================
     Author: Bhargav Gandhi (BG)
     Description: _mediaDesktop.scss
     =========================== */
/* Media Queries Desktop */
@media screen and (min-width: 1000px) and (max-width: 1279px) {}
@media screen and (min-width: 1000px) {
  .row {
    padding: 0em 4.5em;
  }

  header.row {
    padding: 2em 4.5em;
  }
  /*Home Page */
  .mob {
    display: none !important;
  }

  .desk {
    display: block;
  }

  section.row.HomeRow1 {
    background-color: $bgColorHome;

    #homeHero {
      overflow: hidden;
    }
  }

  .center-inner {
    width: 100%;
    height: auto;
    margin-left: -50%;
    text-align: center;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .marginRightTab1 {
    margin-right: auto;
  }

  .marginTopTab3 {
    margin-top: 0;
  }

  section.row.HomeRow1 {
    background-color: $bgColorHome;

    #homeHero {
      overflow: hidden;
    }
  }
}
@media screen and (min-width: 1280px) {}
@media screen and (min-width: 1200px) and (max-height: 700px) {
  .row {
    padding: 0 20px;
  }
}
@media screen and (min-width: 1366px) and (max-height: 768px) {
  .row {
    padding: 0 25px;
  }
}
@media screen and (min-width: 1366px) {}
@media screen and (min-width: 1440px) {}
@media screen and (min-width: 1480px) {
  body,
  html {
    font-size: 18px;
  }

  .col-xlg-8 {
    width: 70% !important;
  }

  .col-xlg-9 {
    width: 90% !important;
  }
}
@media screen and (min-width: 1680px) {}
@media screen and (min-width: 1800px) {
  body,
  html {
    font-size: 20px;
  }

  .col-xlg-8 {
    width: 60% !important;
  }

  .col-xlg-9 {
    width: 80% !important;
  }

  #neighRow4 {
    .bLeft {
      width: 40.2%;
    }

    .bRight {
      width: 59.9%;
      margin-top: -2em;
    }
  }
}
@media screen and (min-width: 1920px) {}
@media screen and (min-width: 2000px) {}
@media screen and (min-width: 2300px) {}
