/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}


/** THEME
===================================*/

.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0 0 0px #ccc;
  -webkit-box-shadow: 0 0 0px #ccc;
  box-shadow: 0 0 0px #ccc;
  border: 0px solid #fff;
  left: -5px;
  background: transparent;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 10px;
  bottom: 0.1em;
  width: 10em;
  right: 3%;
  max-width: 118px;
}


/* LOADER */

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}


/* PAGER */

.bx-wrapper .bx-pager {
  font-size: .85em;
  padding-top: 20px;
  padding-top: 1.25em;
  font-family: "MaisonNeue-Light", sans-serif;
  font-size: 14px;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: center;
  color: #000500;
}

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: transparent;
  border: 1px solid #fff;
  text-indent: -9999px;
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff;
}


/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
  left: 2%;
  background: url(../images/next-arrow-white.svg) no-repeat;
  transform: rotate(180deg);
  opacity: 0.9;
}

.bx-wrapper .bx-next {
  right: 2%;
  background: url(../images/next-arrow-white.svg) no-repeat;
  opacity: 0.9;
}

.bx-wrapper .bx-prev:hover {
  opacity: 1;
}

.bx-wrapper .bx-next:hover {
  opacity: 1;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 55%;
  margin-top: -20px;
  margin-top: -1.25em;
  outline: 0;
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
  background-position: center;
  text-indent: -9999px;
  z-index: 99;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}


/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px;
}


/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}


/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #333;
  font-family: inherit;
  display: block;
  font-size: .85em;
  padding: 10px;
}
